/* ### Imports ### */

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/* ### Navbar  ### */

nav{
    padding-top: 15%;
    padding-bottom: 5px;
    position: absolute !important;
    display: block !important;
    height: 65px;
    align-items: flex-start;
    background-color: #232323;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* - Dropdown Menu - */

.navbar-toggler:focus #menuIcon{
    position: absolute;
    content: url(resources/svg/close-svgrepo-com.svg);
    left: 30px;
    width: 20px;
    height: 20px;
    padding-left: 0;
}

.navbar-toggler #menuIcon{
    padding-left: 20px ;
}

#customDropdown{
    padding: 0 !important;
    position: absolute;
    width: 270px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 274;
    font-size: 18px;
}

#user{
    background-color: #232323;
}

#customDropdown a{
    display: flex;
    align-items: center;
    justify-content: left;
}

#dep1{
    color: #ffff;
    background-color: #343434;
}

#dep2{
    color: #ffff;
    background-color: #464646;
}

#dep3{
    color: #ffff;
    background-color: #5A5A5A;
}

#dep4{
    color: #ffff;
    background-color: #7C7C7C;
}

#dep5{
    background-color: #AEAEAE;
}

#dep6{
    background-color: #D2D2D2;
}

#leave{
    background-color: #ffff;
}

.depCategory{
    height: 100px;
    padding-left: 10px;
}

.innerItem{
    align-items: center;
    background-color: #EEFF49;
    border-style: none;
}

.innerItem li{
    height: 50px;
}

.user{
    padding-top: 20px;
    height: 150px;
    padding-left: 10px;
}

.show{
    color: black !important;
    background-color: #EEFF49 !important;
}

.nav-link:focus{
    text-decoration: underline;
}

/* - Icons and Logo - */

.icons{
    position: absolute;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 100%;
    right: 0;
    text-align: center;
}

#searchButton{
    margin-top: 6px;
}

#cartButton{
    margin-left: 15%;
}

#logo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

/* - Search Bar - */

#searchNav{
    position: absolute;
    width: 100%;
    margin: auto;
    top: 100%;
    padding-bottom: 5%;
}

#searchNav .show{
    background-color: #232323 !important;
}

#searchNav button{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 43px;
    left: 50%;
    right: 0;
    width: 30px;
    height: 30px;
}

button img .show {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 100px !important;
    left: 50%;
    right: 0;
    width: 30px;
    height: 30px;
}

input{
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

/* - User Info - */

#userInfo{
    color: #ffff;
    font-size: 14px;
}

#username{
    color: #EEFF49;
    font-size: 18px;
}

#squares{
    width: 70px !important;
    height: 70px;
    margin: 0;
    padding: 0;
    position: relative;
}

#greySquare{
    margin-left: 20px;
    border-radius: 8px;
}

#yellowSquare{
    transform: rotate(15deg);
    position: absolute;
    right: 28px;
    width: 70px;
    height: 70px;
    border-color: #EEFF49;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    -moz-border-image: url() 20 5 5 5 repeat repeat;
    -webkit-border-image: url() 20 5 5 5 repeat repeat;
    -o-border-image: url() 20 5 5 5 repeat repeat;
    border-image: url() 20 5 5 5 repeat repeat;
    content-visibility: hidden;
}

/* ### Main ### */

/* - Main Carousel - */

/* - Department Grid - */

#depImgGrid{
    margin-top: 20px;
    margin-bottom: 20px;
}

#depImgGrid .col{
    width: 163px;
    height: 163px;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 8px;
}

#dep1img{
    background-image: url(resources/images/Banner-home-departamento-1.png);
}

#dep2img{
    background-image: url(resources/images/Banner-home-departamento-2.png);
}

#dep3img{
    background-image: url(resources/images/Banner-home-departamento-3.png);
}

#dep4img{
    background-image: url(resources/images/Banner-home-departamento-4.png);
}

#dep5img{
    background-image: url(resources/images/Banner-home-departamento-5.png);
}

#dep6img{
    background-image: url(resources/images/Banner-home-departamento-6.png);
}

.imgDesc{
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: #ffff;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 50%;
    bottom: -43%;
    text-align: center;
}

#depImgGrid a{
    text-decoration: none;
}

/* - Second Carousel - */

#secondCarousel{
    position: absolute;
    left: 15px;
    margin: auto;
    text-align: center;
}

#secondCarousel h1{
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 200;
    margin-left: -50px;
}

#secondCarousel .carousel-inner img,
#secondCarousel .carousel-item img{
    width: 350px;
}

#secondCarousel p{
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 200;
    text-align: left;
}

.carousel-caption{
    top: 0;
    bottom: auto;
}

.price{
    text-align: right;
    float: right;
    position: relative;
    transform: translate(-50%, -50%);
    padding-top: 10%;
    margin-right: -40px;
}

.price1{
    color: #EEFF49;
    padding-right: 15px;
}

.price2{
    color: #ffff;
}

.carousel-caption img{
    position: absolute;
    width: 25px !important;
    bottom: -380px;
    left: 240px;
}

#newProduct{
    position: absolute;
    color: #232323;
    background-color: #EEFF49;
    padding: 3px 5px 3px 5px;
    bottom: -400px;
    left: -5px;
}

/* New Container */

#newInfoContainer{
    margin-top: 620px;
    padding-left: 0;
}

#newInfoContainer a span{
    position: absolute;
    text-decoration: underline;
    color: #ffff;
    font-family: 'SF Pro Display', sans-serif;
    font-size: large;
    font-weight: 200;
    margin-top: -165px;
    margin-left: 70%;
}

#newInfoContainer2{
    padding-left: 0;
}

#newInfoContainer2 a span{
    position: absolute;
    text-decoration: underline;
    color: #ffff;
    font-family: 'SF Pro Display', sans-serif;
    font-size: large;
    font-weight: 200;
    margin-top: -165px;
    margin-left: 60%;
}

/* - Third Carousel - */

#thirdCarousel{
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'SF Pro Display', sans-serif;
}

#thirdCarousel img{
    width: 335px;
}

#thirdCarousel p{
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 200;
    text-align: left;
    margin-right: 20px;
}

#newProduct2{
    position: absolute;
    color: #232323;
    background-color: #EEFF49;
    padding: 3px 5px 3px 5px;
    bottom: -390px;
    left: -5px;
}


/* - New Container 2 - */

#newInfoContainer3{
    margin-top: 20px;
    padding-left: 0;
}

#newInfoContainer3 a span{
    position: absolute;
    text-decoration: underline;
    color: #ffff;
    font-family: 'SF Pro Display', sans-serif;
    font-size: large;
    font-weight: 200;
    margin-top: -165px;
    margin-left: 60%;
}

/* Pay Info Carousel */

#payInfoCarousel{
    display: block;
    margin-top: 50px !important;
    margin: auto;
    width: 75%;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
}

#payInfoCarousel img{
    padding-bottom: 25px;
}

#payInfoCarousel p{
    display: inline;
    text-align: left;
    margin-left: 10px;
    padding-bottom: 15px;
}

#payCarousel .carousel-indicators button{
    display: block; 
    background-color: #232323;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}

#payCarousel .carousel-indicators{
    display: flex; 
    position: absolute;
    top: 65px;
}

/* ### Footer ### */

footer{
    color: #ffff;
    background-color: #232323;
    font-family: 'SF Pro Display', sans-serif;
}

footer h5{
    text-decoration: underline;
}

#footerLogo{
    margin-left: 20px;
    margin-top: 40px;
}

/* - Newsletter - */

.newsletter input{
    margin-left: 20px;
    border-radius: 0;
}

.newsletter .btn{
    width: 90px;
    margin-left: 10px;
    margin-right: 40px;
    border-radius: 0;
    background-color: #EEFF49;
}

.newsletter p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

.newsletter h5{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

/* - Footer Dropdown Menus - */

#socialMediaSection h5{
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 0;
}

#socialMedia{
    display: inline;
}

#socialMedia .col-4{
    width: 24px;
    margin-left: 20px;
}

.footerDropdown{
    margin-left: 10px;
    text-align: left;
}

.footerDropdownSub{
    border: none !important;
}

footer .dropdown .btn{
    background-color: #232323 !important;
}

#firstFooterDropdown{
    margin-top: 40px;

}

#lastFooterDropdown{
    padding-bottom: 40px;
}

#dropdownMenuButton1::after{
    position: absolute;
    bottom: 50%;
    right: 20px;
    padding-bottom: 0;
}

/* - Certificates - */

#certificates{
    color: #232323;
    background-color: #ffff;
    margin: 0;
    text-align: center;
}

#certificates p{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#certificates img{
    padding-bottom: 40px;
}

/* - Rights Section - */

#rights{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 10px;
}

#rights p{
    padding-top: 12px;
    padding-bottom: 12px;
}

/* - Bottom - */

#bottom{
    background-color: #142032;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}